[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "theme/elegant"]
	path = theme/elegant
	url = https://github.com/ShaunaGordon/pelican-elegant.git
